<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <style>
        .placeholder {
            display: none;
            visibility: collapse;
        }

        .placeholder:only-child {
            display: flex;
            visibility: visible;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row p-2">
        <div class="col-2">
            <a asp-controller="Product" asp-action="Index"
               class="@GetClassForButton("Product")">
                Products
            </a>
            <a asp-controller="Category" asp-action="Index"
               class="@GetClassForButton("Category")">
                Categories
            </a>
            <a asp-controller="Order" asp-action="Index"
               class="@GetClassForButton("Order")">
                Orders
            </a>
        </div>

        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>

@functions {

    string GetClassForButton(string controller)
    {
        return "btn btn-block " + (ViewContext.RouteData.Values["controller"]
            as string == controller ? "btn-primary" : "btn-outline-primary");
    }

}